* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.navbar, .main {
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}


.navbar {
    position: fixed;
    width:300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    z-index: 1;
}

@media (max-width:815px) {
    .navbar {
        position:absolute;
        width:100%;
        max-height: 275px;
        border: none;
    }
}

.navbar__header {
    color: black;
    padding:10px;
    text-align: center;
    font-size: 28.8px;
}

.navbar__list {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display:block;
}

@media (max-width:815px) {
    .navbar__list {
        border: 1px solid;
        border-bottom: 3px solid;
        height: 207px;
    }
}

.navbar__item {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

.navbar__link {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}

.main {
    padding: 20px 0;
    text-align: left;
    position:relative;
}

@media (max-width: 815px) {
    .main {
        padding-top: 290px;
    }
}

.container {
    margin: 0 20px 0px 330px;
}

@media (max-width: 815px) {
    .container {
        margin-left: 20px;
        margin-bottom: 110px;
    }
}

.main__section {
    display:block;
}

.main__header {
    font-size: 28.8px;
    color: black;
}

.main__article {
    margin:15px 15px 0 15px;
    color: #4d4e53;
    font-size: 0.96em;
}

.main__text {
    margin-bottom: 15px;
}

.main__list {
    padding-left: 40px;
    list-style-type: disc;
}

.main__code {
    display: block;
    text-align: left;
    position: relative;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px 10px 15px 10px;
    border-radius: 5px;
}

.main__item {
    margin: 0 0 15px 20px;
}

.main__list--circle {
    list-style-type: circle;
}




